.env
volumes/db/
volumes/private/
volumes/public/
volumes/html/
volumes/letsencrypt/
volumes/letsencrypt-acme-challange/
volumes/logs/
volumes/jc21/
volumes/nginx/

volumes/keys*
volumes/database.sqlite